/*  your css code here. If applicable */
.container{
	padding:10px;
	Background-color:#f5f5f5;
}
.testimonial{
	padding:10px;
	border:10px solid #f5f5f5;
	background-color:white;
}
.author{
	text-align:right;
	font-style:italic;
}

